<%= form_with(model: question) do |form| %>
  
  <div data-controller="select-tag" >
    <%= form.label :tag_list, style: "display: block" %>
    <%= form.text_field :tag_list, data: {select_tag_target: "select"} %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, placeholder: "sans titre" %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Enregistrer la question", class: "btn btn--primary" %>
  </div>
<% end %>
