<style>
  .name_author {
    letter-spacing:0.1;
    font-size:11px;
    font-weight:600;
    color:#AAA;
  }
  .picture_author {
    "margin-right:4px;
    height:17px;
    width:17px;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 2px solid <%= @question.account.profile.color %>;
  }
  .initial_author {
    background-color:<%= @question.account.profile.color %>;
    height:17px;
    width:17px;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right:3px
  }

  .initial_author > p {
    text-align:center;
    font-weight:800;
    color:black;
    opacity:.9;
    margin:auto;
    font-size:.43rem;
    letter-spacing:-1px
  } 
</style>

<div style="height:20px"></div>
<div class="">
    <div class="navbar__name" style="display:flex; align-items:center; justify-content:start">
      <div style=" display:flex; align-items:center;  justify-content: center;">
        <% if @question.account.profile.avatar.attached? %>
          <div class="picture_author">
            <%= image_tag(@question.account.profile.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border: 2px solid transparent; border-radius:100%", size:"27px") %>
          </div>
        <% else %>
          <div class="initial_author">
            <p>
              <%= @question.account.profile.get_initial_profile %>
            </p>
          </div>
        <% end %>
      </div>
      <%= link_to @question.account.profile.lastname != nil ? @question.account.profile.lastname.capitalize : @question.account.profile.username.capitalize , profile_url(@question.account), class:"name_author" %>   
    </div>
</div>
<h2>
    <%= link_to @question.title, @question %>
</h2>
<div style="height:5px"></div>
<%= render "taglist", as: :question %>
<div style="display:flex; align-items:center">
  <%= render "bookmark", as: :question %>
  <div style="width:10px; height:10px"></div>
  <%= render "readlist", as: :question %>
  <div style="width:10px; height:10px"></div>
  <%= render "view_question", as: :question %>
  <div style="width:20px; height:10px"></div>
  <p style="letter-spacing:0.1; font-size:11px; font-weight:600; color:#AAA">
    <%= @question.get_likes.size %>&nbsp;J'aime
  </p>
</div>