
<div class="container">
  <div style="width:100%; height:50px">
  </div>

  <div id="<%= dom_id question %>"> 
    <div style="display:flex; align-items:center">
      <%= render "bookmark", as: :question %>
      <div style="width:20px; height:20px"></div>
      <%= render "readlist", as: :question %>
      <div style="width:20px; height:20px"></div>
      <%= render "appreciation", as: :question %>
    </div>
    <%= render "title", as: :question %>
    <%= render "tags", as: :question %>

    <%= render "body" %>
    
  </div> 

</div>
