
<div class="container">
  <div style="width:100%; height:50px">
  </div>

  <div id="<%= dom_id question %>"> 
    <div style="display:flex; align-items:center">
      <%= render "toggle_to_bookmark", as: :question %>
      <div style="width:10px; height:10px"></div>
      <%= render "readlist", as: :question %>
    </div>
    <%= render "title", as: :question %>

    <%= render "body" %>
    
  </div> 

</div>
