<style>
input, h1.title {
  font-size:2.3rem;
  font-weight:bold;
  letter-spacing:.5;
  background-color:transparent;
  border:transparent;
  display:block;
  outline:none;
  padding-bottom:10px;
}
.editable:empty:before {
  content: attr(data-placeholder);
  color: lightgray;
  font-style:italic;
}
}
 input::placeholder {
  color: lightgray;
  font-style:italic;
}

</style>
<%= form_with model: @question, data: { controller: "editable" } do |f| %>
  <h1 contenteditable
      data-editable-target="content"
      data-action="keyup->editable#changed"
      data-placeholder="<%= t("untitled") %>"
      class="title editable"><%= @question.title %></h1>
  <%= f.hidden_field :title, data: { editable_target: "input"} %>
<% end %>
/* <%= link_to @question.title || t("untitled"), question_url(@question) %> */