<div class="container">

  <h1>Editing question</h1>

  <% content_for :title do %>
    <title><%= "Kandapedia | " + ((@question.title != "") ? @question.title : t("untitled")) %></title>
  <% end %>

  <%= render @question %>

  <br>

  <div style="margin-bottom:60px">
    <%= link_to "Show this question", @question %>  |  
    <%= link_to "Back to questions", questions_path %> |
    <%= button_to "Destroy this question", @question, method: :delete, class: "btn btn--primary" %>

  </div>

</div>
