<% content_for :title do %>
  <title><%= "Kandapedia&trade; | " + ((@question.title != "") ? @question.title : t("untitled")) %></title>
<% end %>

<%= turbo_stream_from @question %>

<p style="color: green"><%= notice %></p>

<%= render @question %>

<div style="margin-bottom:60px">
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to questions", questions_path %>

  <%= button_to "Destroy this question", @question, method: :delete %>
</div>
