<% content_for :title do %>
  <title><%= "Kandapedia&trade; | " + ((@question.title != "") ? @question.title : t("untitled")) %></title>
<% end %>

<div class="container">
  <div style="display:flex; align-items:center">
    <%= render "bookmark", as: :question %>
    <div style="width:20px; height:20px"></div>
    <%= render "readlist", as: :question %>
    <div style="width:20px; height:20px"></div>
    <%= render "appreciation", as: :question %>
    <div style="width:20px; height:20px"></div>
  <%= render "view_question", as: :question %>
  </div>

  <h1><%= @question.title %></h1>
  <div style="margin:40px 0">
  <% if !@question.tag_list.empty? %>
    <div style="display:flex; align-items:center; justify-content:flex-start">
      <p style="margin-right:7px; font-style:italic; opacity:.5"><%= "#" + @question.tag_list.join(", #") %></p>
    </div>
  <% end %>
  <div><%= @question.body.html_safe %></div>

  <div style="margin:60px 0">
    <% if policy(@question).edit? %>
    <%= link_to "Edit this question", edit_question_path(@question) %> | 
    <% end %>
    <%= link_to "Back to questions", questions_path %>

  </div>
</div>

