
<div class="form__container my">
  <div class="grid grid-cols-4 mx-16 mb-36">
    <div class="rounded-lg span-1">

      <div class="flex items-center justify-center mt-16">
        <h2 style="font-size:var(--font-size-3xl); color:#a267f0; padding-bottom:var(--space-m);"><%= @profile.username.capitalize %></h2>
      </div>
      <div style="padding-bottom:var(--space-m)">
      <% if @profile.avatar.attached? %>
        <div style="margin-right:4px; height:100px; width:100px; border-radius:100%; display:flex; align-items:center;  justify-content: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          <%= image_tag(@profile.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border-radius:100%", size:"100px") %>
        </div>
      <% else %>
        <div style="background-color:<%= @profile.color %>;height:100px; width:100px; border-radius:100%; display:flex; align-items:center;  justify-content: center;">
          <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:2.7rem; letter-spacing:-1px">
            <%= @profile.get_initial_profile %>
          </p>
        </div>
      <% end %>
    </div>
      <div style="display:flex; align-items:center; justify-content:flex-start">
        <% unless @profile[:skills].nil? || @profile[:skills].empty? %>
        <p style="margin-right:7px; font-style:italic; opacity:.5"><%=  "#" + @profile[:skills].gsub!(", ", ", #")  %></p>
        <%  end %>
      </div>

      <p class=""><%= @profile.job %></p>
      <p class=""><%= @profile.bio %></p>
    </div>
  </div>

  <div style="height:25px"></div>
  <% if current_account.questions_count != 0 && current_account.id == @profile.profileable_id %>
    <h1>Mes questions</h1>
    <div style="height:55px"></div>
    <% if current_account.questions_count > 0 %>
      <% @questions.each do |question| %>
        <p style="display:flex; align-items:center">
          <% if rodauth.logged_in? && @profile.profileable_id == current_account.id %>

            <% if question.is_published? %>
              <span style="margin:0 4px">
                  <svg width="18" height="18" viewBox="0 0 32 32"><g fill="none"><path fill="url(#svgIDa)" d="M13.186 23.93h4.65v4.957h-4.65V23.93Z"/><path fill="url(#svgIDb)" d="M13.186 23.93h4.65v4.957h-4.65V23.93Z"/><path fill="url(#svgIDc)" d="M13.186 23.93h4.65v4.957h-4.65V23.93Z"/><g filter="url(#svgIDd)"><path fill="url(#svgIDe)" d="M4.044 13.548a5.5 5.5 0 0 1 5.5-5.5h12.912a5.5 5.5 0 0 1 5.5 5.5v9.383a1 1 0 0 1-1 1H5.044a1 1 0 0 1-1-1v-9.383Z"/></g><g filter="url(#svgIDf)"><path fill="url(#svgIDg)" d="M5.303 23.438h7.65a.927.927 0 0 0 .919-.936v-8.779c0-2.736-2.019-5.136-4.744-5.136c-2.572-.163-4.744 1.915-4.744 5.136v8.779c0 .517.412.936.92.936Z"/><path stroke="url(#svgIDh)" stroke-width=".25" d="M5.303 23.563h7.65c.578 0 1.044-.477 1.044-1.061v-8.779c0-2.79-2.06-5.259-4.865-5.26c-2.654-.167-4.873 1.982-4.873 5.26v8.779c0 .584.465 1.06 1.044 1.06Z"/></g><g filter="url(#svgIDi)"><rect width="5.705" height="1.931" x="6.629" y="19.014" fill="url(#svgIDj)" rx=".966"/></g><g filter="url(#svgIDk)"><rect width="4.484" height=".364" x="7.114" y="20.074" fill="url(#svgIDl)" rx=".182"/></g><g filter="url(#svgIDm)"><path fill="url(#svgIDn)" d="M28.688 13.746v5.38c0 .441-.31.8-.694.8h-2.703c-.383 0-.694-.359-.694-.8v-5.38h4.09Z"/></g><g filter="url(#svgIDo)"><path fill="#4B81D5" d="M23.84 13.746v5.38c0 .441-.31.8-.693.8h-2.704c-.383 0-.693-.359-.693-.8v-5.38h4.09Z"/></g><path fill="url(#svgIDp)" d="M28.62 12.237a1.149 1.149 0 0 1 0 2.298h-9.616v-2.298h9.617Z"/><path fill="url(#svgIDq)" d="M28.62 12.237a1.149 1.149 0 0 1 0 2.298h-9.616v-2.298h9.617Z"/><path fill="url(#svgIDr)" d="M28.62 12.237a1.149 1.149 0 0 1 0 2.298h-9.616v-2.298h9.617Z"/><g filter="url(#svgIDs)"><rect width="8.516" height=".319" x="19.75" y="13.148" fill="#AEA4BF" rx=".159"/></g><g filter="url(#svgIDt)"><ellipse cx="16.438" cy="13.917" fill="#264FC5" rx="1.572" ry="2.406"/></g><circle cx="17.918" cy="13.386" r="2.406" fill="url(#svgIDu)"/><circle cx="17.918" cy="13.386" r="2.406" fill="url(#svgIDv)"/><circle cx="17.918" cy="13.386" r="2.406" fill="url(#svgIDw)"/><defs><linearGradient id="svgIDa" x1="16.822" x2="13.186" y1="28.887" y2="28.887" gradientUnits="userSpaceOnUse"><stop stop-color="#8F616C"/><stop offset=".42" stop-color="#7D4261"/><stop offset=".774" stop-color="#5E3A43"/></linearGradient><linearGradient id="svgIDb" x1="18.103" x2="17.353" y1="28.887" y2="28.887" gradientUnits="userSpaceOnUse"><stop stop-color="#855A5D"/><stop offset="1" stop-color="#855A5D" stop-opacity="0"/></linearGradient><linearGradient id="svgIDe" x1="20.525" x2="20.525" y1="23.931" y2="10.25" gradientUnits="userSpaceOnUse"><stop offset=".743" stop-color="#5097DA"/><stop offset="1" stop-color="#5D98DA"/></linearGradient><linearGradient id="svgIDg" x1="9.128" x2="9.128" y1="8.587" y2="23.438" gradientUnits="userSpaceOnUse"><stop stop-color="#5689D3"/><stop offset="1" stop-color="#5686D8"/></linearGradient><linearGradient id="svgIDh" x1="15.094" x2="8.469" y1="18.651" y2="18.651" gradientUnits="userSpaceOnUse"><stop offset=".222" stop-color="#3B7BDE"/><stop offset="1" stop-color="#3C84D5" stop-opacity="0"/></linearGradient><linearGradient id="svgIDj" x1="9.481" x2="9.481" y1="19.014" y2="20.945" gradientUnits="userSpaceOnUse"><stop stop-color="#3B6BF1"/><stop offset="1" stop-color="#1872E0"/></linearGradient><linearGradient id="svgIDl" x1="7.114" x2="10.915" y1="20.256" y2="20.256" gradientUnits="userSpaceOnUse"><stop stop-color="#568FF7"/><stop offset="1" stop-color="#568FF7" stop-opacity="0"/></linearGradient><linearGradient id="svgIDn" x1="28.688" x2="27" y1="16.835" y2="16.835" gradientUnits="userSpaceOnUse"><stop stop-color="#FF8E4E"/><stop offset="1" stop-color="#F96941"/></linearGradient><linearGradient id="svgIDp" x1="25.438" x2="25.438" y1="14.535" y2="12.938" gradientUnits="userSpaceOnUse"><stop stop-color="#926BC9"/><stop offset="1" stop-color="#A6A4AF"/></linearGradient><linearGradient id="svgIDq" x1="29.769" x2="28.625" y1="13.386" y2="13.386" gradientUnits="userSpaceOnUse"><stop stop-color="#BAB9BF"/><stop offset="1" stop-color="#BAB9BF" stop-opacity="0"/></linearGradient><filter id="svgIDd" width="23.913" height="16.283" x="4.044" y="7.648" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="-.4"/><feGaussianBlur stdDeviation=".375"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.262745 0 0 0 0 0.356863 0 0 0 0 1 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22011"/></filter><filter id="svgIDf" width="10.987" height="16.36" x="3.634" y="7.828" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22011" stdDeviation=".25"/></filter><filter id="svgIDi" width="6.205" height="2.431" x="6.129" y="19.014" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx="-.5" dy=".5"/><feGaussianBlur stdDeviation=".375"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.117647 0 0 0 0 0.321569 0 0 0 0 0.823529 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22011"/></filter><filter id="svgIDk" width="5.484" height="1.364" x="6.614" y="19.574" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22011" stdDeviation=".25"/></filter><filter id="svgIDm" width="4.49" height="6.43" x="24.598" y="13.496" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx=".4" dy="-.25"/><feGaussianBlur stdDeviation=".5"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.858824 0 0 0 0 0.203922 0 0 0 0 0.2 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22011"/></filter><filter id="svgIDo" width="10.09" height="12.18" x="16.75" y="10.746" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22011" stdDeviation="1.5"/></filter><filter id="svgIDs" width="9.516" height="1.319" x="19.25" y="12.648" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22011" stdDeviation=".25"/></filter><filter id="svgIDt" width="5.645" height="7.313" x="13.615" y="10.261" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22011" stdDeviation=".625"/></filter><radialGradient id="svgIDc" cx="0" cy="0" r="1" gradientTransform="matrix(0 -4.95639 5.62268 0 15.511 28.887)" gradientUnits="userSpaceOnUse"><stop offset=".772" stop-color="#632F53" stop-opacity="0"/><stop offset="1" stop-color="#5A3A46"/></radialGradient><radialGradient id="svgIDr" cx="0" cy="0" r="1" gradientTransform="matrix(.9375 0 0 .50781 29.625 13.031)" gradientUnits="userSpaceOnUse"><stop stop-color="#CFCBD8"/><stop offset="1" stop-color="#CFCBD8" stop-opacity="0"/></radialGradient><radialGradient id="svgIDu" cx="0" cy="0" r="1" gradientTransform="rotate(-70.371 19.793 -4.293) scale(3.62801 4.37707)" gradientUnits="userSpaceOnUse"><stop stop-color="#9571C7"/><stop offset="1" stop-color="#B0B0B7"/></radialGradient><radialGradient id="svgIDv" cx="0" cy="0" r="1" gradientTransform="rotate(180 9.547 6.693) scale(3.58221)" gradientUnits="userSpaceOnUse"><stop offset=".646" stop-color="#948DA4" stop-opacity="0"/><stop offset="1" stop-color="#636697"/></radialGradient><radialGradient id="svgIDw" cx="0" cy="0" r="1" gradientTransform="matrix(2.04688 -.875 .6589 1.54133 19.172 12.469)" gradientUnits="userSpaceOnUse"><stop offset=".247" stop-color="#D0CCDA"/><stop offset="1" stop-color="#B6B6BD" stop-opacity="0"/></radialGradient></defs></g></svg>  
                  </span>
            <% elsif true %>
              <span style="margin:0 4px">
                    <svg width="18" height="18" viewBox="0 0 32 32"><g fill="none"><path fill="url(#svgIDa)" d="M13.186 23.923h4.65v4.956h-4.65v-4.956Z"/><path fill="url(#svgIDb)" d="M13.186 23.923h4.65v4.956h-4.65v-4.956Z"/><path fill="url(#svgIDc)" d="M13.186 23.923h4.65v4.956h-4.65v-4.956Z"/><g filter="url(#svgIDd)"><path fill="url(#svgIDe)" d="M4.044 13.54a5.5 5.5 0 0 1 5.5-5.5h12.912a5.5 5.5 0 0 1 5.5 5.5v9.383a1 1 0 0 1-1 1H5.044a1 1 0 0 1-1-1V13.54Z"/></g><g filter="url(#svgIDf)"><path fill="#4473C1" d="M5.49 23.43h9.198c.61 0 1.105-.42 1.105-.938V13.69c0-2.743-2.428-5.15-5.704-5.15c-3.093-.163-5.705 1.92-5.705 5.15v8.802c0 .518.495.938 1.105.938Z"/><path stroke="url(#svgIDg)" stroke-width=".25" d="M5.49 23.555h9.198c.66 0 1.23-.458 1.23-1.063V13.69c0-2.82-2.49-5.273-5.826-5.275C6.94 8.25 4.259 10.38 4.259 13.69v8.802c0 .605.57 1.063 1.23 1.063Z"/></g><g filter="url(#svgIDh)"><path fill="url(#svgIDi)" d="M28.688 13.738v5.38c0 .441-.31.8-.694.8h-2.703c-.383 0-.694-.359-.694-.8v-5.38h4.09Z"/></g><g filter="url(#svgIDj)"><path fill="#4B81D5" d="M23.84 13.738v5.38c0 .441-.31.8-.693.8h-2.704c-.383 0-.693-.359-.693-.8v-5.38h4.09Z"/></g><path fill="url(#svgIDk)" d="M28.62 12.23a1.149 1.149 0 0 1 0 2.297h-9.616V12.23h9.617Z"/><path fill="url(#svgIDl)" d="M28.62 12.23a1.149 1.149 0 0 1 0 2.297h-9.616V12.23h9.617Z"/><path fill="url(#svgIDm)" d="M28.62 12.23a1.149 1.149 0 0 1 0 2.297h-9.616V12.23h9.617Z"/><g filter="url(#svgIDn)"><rect width="8.516" height=".319" x="19.75" y="13.141" fill="#AEA4BF" rx=".159"/></g><g filter="url(#svgIDo)"><ellipse cx="17.847" cy="13.909" fill="#264FC5" rx="1.572" ry="2.406"/></g><circle cx="19.327" cy="13.378" r="2.406" fill="url(#svgIDp)"/><circle cx="19.327" cy="13.378" r="2.406" fill="url(#svgIDq)"/><circle cx="19.327" cy="13.378" r="2.406" fill="url(#svgIDr)"/><g filter="url(#svgIDs)"><path fill="url(#svgIDt)" d="M4.78 14.238a4.758 4.758 0 1 1 9.516 0v7.992a.25.25 0 0 1-.25.25H5.03a.25.25 0 0 1-.25-.25v-7.992Z"/></g><path fill="url(#svgIDu)" d="M5.169 14.242a4.758 4.758 0 1 1 9.515 0v7.992a.25.25 0 0 1-.25.25H5.42a.25.25 0 0 1-.25-.25v-7.992Z"/><defs><linearGradient id="svgIDa" x1="16.822" x2="13.186" y1="28.879" y2="28.879" gradientUnits="userSpaceOnUse"><stop stop-color="#8F616C"/><stop offset=".42" stop-color="#7D4261"/><stop offset=".774" stop-color="#5E3A43"/></linearGradient><linearGradient id="svgIDb" x1="18.103" x2="17.353" y1="28.879" y2="28.879" gradientUnits="userSpaceOnUse"><stop stop-color="#855A5D"/><stop offset="1" stop-color="#855A5D" stop-opacity="0"/></linearGradient><linearGradient id="svgIDe" x1="20.525" x2="20.525" y1="23.923" y2="10.242" gradientUnits="userSpaceOnUse"><stop offset=".743" stop-color="#5097DA"/><stop offset="1" stop-color="#5D98DA"/></linearGradient><linearGradient id="svgIDg" x1="17.262" x2="9.296" y1="18.63" y2="18.63" gradientUnits="userSpaceOnUse"><stop offset=".222" stop-color="#3B7BDE"/><stop offset="1" stop-color="#3C84D5" stop-opacity="0"/></linearGradient><linearGradient id="svgIDi" x1="28.688" x2="27" y1="16.828" y2="16.828" gradientUnits="userSpaceOnUse"><stop stop-color="#FF8E4E"/><stop offset="1" stop-color="#F96941"/></linearGradient><linearGradient id="svgIDk" x1="25.438" x2="25.438" y1="14.527" y2="12.93" gradientUnits="userSpaceOnUse"><stop stop-color="#926BC9"/><stop offset="1" stop-color="#A6A4AF"/></linearGradient><linearGradient id="svgIDl" x1="29.769" x2="28.625" y1="13.378" y2="13.378" gradientUnits="userSpaceOnUse"><stop stop-color="#BAB9BF"/><stop offset="1" stop-color="#BAB9BF" stop-opacity="0"/></linearGradient><linearGradient id="svgIDt" x1="9.538" x2="9.538" y1="9.48" y2="22.48" gradientUnits="userSpaceOnUse"><stop offset=".191" stop-color="#3255BF"/><stop offset="1" stop-color="#3255BF" stop-opacity="0"/></linearGradient><linearGradient id="svgIDu" x1="9.926" x2="9.926" y1="9.484" y2="21.438" gradientUnits="userSpaceOnUse"><stop stop-color="#4B1776"/><stop offset="1" stop-color="#240B46"/></linearGradient><filter id="svgIDd" width="23.913" height="16.283" x="4.044" y="7.64" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="-.4"/><feGaussianBlur stdDeviation=".375"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.262745 0 0 0 0 0.356863 0 0 0 0 1 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22120"/></filter><filter id="svgIDf" width="12.909" height="16.398" x="3.634" y="7.781" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22120" stdDeviation=".25"/></filter><filter id="svgIDh" width="4.49" height="6.43" x="24.598" y="13.488" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx=".4" dy="-.25"/><feGaussianBlur stdDeviation=".5"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.858824 0 0 0 0 0.203922 0 0 0 0 0.2 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22120"/></filter><filter id="svgIDj" width="10.09" height="12.18" x="16.75" y="10.738" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22120" stdDeviation="1.5"/></filter><filter id="svgIDn" width="9.516" height="1.319" x="19.25" y="12.641" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22120" stdDeviation=".25"/></filter><filter id="svgIDo" width="5.645" height="7.313" x="15.024" y="10.253" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22120" stdDeviation=".625"/></filter><filter id="svgIDs" width="10.016" height="13.5" x="4.53" y="9.23" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22120" stdDeviation=".125"/></filter><radialGradient id="svgIDc" cx="0" cy="0" r="1" gradientTransform="matrix(0 -4.95639 5.62268 0 15.511 28.88)" gradientUnits="userSpaceOnUse"><stop offset=".772" stop-color="#632F53" stop-opacity="0"/><stop offset="1" stop-color="#5A3A46"/></radialGradient><radialGradient id="svgIDm" cx="0" cy="0" r="1" gradientTransform="matrix(.9375 0 0 .50781 29.625 13.024)" gradientUnits="userSpaceOnUse"><stop stop-color="#CFCBD8"/><stop offset="1" stop-color="#CFCBD8" stop-opacity="0"/></radialGradient><radialGradient id="svgIDp" cx="0" cy="0" r="1" gradientTransform="rotate(-70.371 20.492 -5.296) scale(3.62801 4.37707)" gradientUnits="userSpaceOnUse"><stop stop-color="#9571C7"/><stop offset="1" stop-color="#B0B0B7"/></radialGradient><radialGradient id="svgIDq" cx="0" cy="0" r="1" gradientTransform="rotate(180 10.251 6.69) scale(3.58221)" gradientUnits="userSpaceOnUse"><stop offset=".646" stop-color="#948DA4" stop-opacity="0"/><stop offset="1" stop-color="#636697"/></radialGradient><radialGradient id="svgIDr" cx="0" cy="0" r="1" gradientTransform="matrix(2.04688 -.875 .6589 1.54133 20.58 12.461)" gradientUnits="userSpaceOnUse"><stop offset=".247" stop-color="#D0CCDA"/><stop offset="1" stop-color="#B6B6BD" stop-opacity="0"/></radialGradient></defs></g></svg>
              </span>
            <% else %>
              <span style="margin:0 4px">
                <svg width="18" height="18" viewBox="0 0 32 32"><g fill="none"><g clip-path="url(#svgIDa)"><path fill="url(#svgIDb)" d="M13.186 24.923h4.65v4.956h-4.65v-4.956Z"/><path fill="url(#svgIDc)" d="M13.186 24.923h4.65v4.956h-4.65v-4.956Z"/><path fill="url(#svgIDd)" d="M13.186 24.923h4.65v4.956h-4.65v-4.956Z"/><g filter="url(#svgIDe)"><path fill="url(#svgIDf)" d="M4.044 14.54a5.5 5.5 0 0 1 5.5-5.5h12.912a5.5 5.5 0 0 1 5.5 5.5v9.383a1 1 0 0 1-1 1H5.044a1 1 0 0 1-1-1V14.54Z"/><path fill="url(#svgIDg)" d="M4.044 14.54a5.5 5.5 0 0 1 5.5-5.5h12.912a5.5 5.5 0 0 1 5.5 5.5v9.383a1 1 0 0 1-1 1H5.044a1 1 0 0 1-1-1V14.54Z"/></g><g filter="url(#svgIDh)"><path fill="#4473C1" d="M5.49 24.43h9.198c.61 0 1.105-.42 1.105-.938V14.69c0-2.743-2.428-5.15-5.704-5.15c-3.093-.163-5.705 1.92-5.705 5.15v8.802c0 .518.495.938 1.105.938Z"/><path stroke="url(#svgIDi)" stroke-width=".25" d="M5.49 24.555h9.198c.66 0 1.23-.458 1.23-1.063V14.69c0-2.82-2.49-5.273-5.826-5.275C6.94 9.25 4.259 11.38 4.259 14.69v8.802c0 .605.57 1.063 1.23 1.063Z"/></g><g filter="url(#svgIDj)"><ellipse cx="17.771" cy="14.018" fill="#264FC5" rx="1.572" ry="2.406"/></g><g filter="url(#svgIDk)"><path fill="url(#svgIDl)" d="M4.78 15.238a4.758 4.758 0 1 1 9.516 0v7.992a.25.25 0 0 1-.25.25H5.03a.25.25 0 0 1-.25-.25v-7.992Z"/></g><path fill="url(#svgIDm)" d="M5.169 15.242a4.758 4.758 0 1 1 9.515 0v7.992a.25.25 0 0 1-.25.25H5.42a.25.25 0 0 1-.25-.25v-7.992Z"/><g filter="url(#svgIDn)"><path fill="url(#svgIDo)" d="M19.57 2.97h5.38c.442 0 .8.311.8.694v2.703c0 .383-.358.694-.8.694h-5.38V2.97Z"/></g><path fill="url(#svgIDp)" d="M20.36 3.038a1.149 1.149 0 0 0-2.298 0v9.617h2.297V3.037Z"/><path fill="url(#svgIDq)" d="M20.36 3.038a1.149 1.149 0 0 0-2.298 0v9.617h2.297V3.037Z"/><path fill="url(#svgIDr)" d="M20.36 3.038a1.149 1.149 0 0 0-2.298 0v9.617h2.297V3.037Z"/><g filter="url(#svgIDs)"><rect width="8.516" height=".319" x="18.973" y="11.908" fill="#AEA4BF" rx=".159" transform="rotate(-90 18.973 11.908)"/></g><circle r="2.406" fill="url(#svgIDt)" transform="matrix(0 -1 -1 0 19.21 13.586)"/><circle r="2.406" fill="url(#svgIDu)" transform="matrix(0 -1 -1 0 19.21 13.586)"/><circle r="2.406" fill="url(#svgIDv)" transform="matrix(0 -1 -1 0 19.21 13.586)"/><path fill="url(#svgIDw)" d="M7.26 23.484h7.174a.25.25 0 0 0 .25-.25v-7.992c0-.943-.274-1.822-.747-2.56H7.26a1 1 0 0 0-1 1v8.802a1 1 0 0 0 1 1Z"/><path fill="url(#svgIDx)" d="M7.26 23.484h7.174a.25.25 0 0 0 .25-.25v-7.992c0-.943-.274-1.822-.747-2.56H7.26a1 1 0 0 0-1 1v8.802a1 1 0 0 0 1 1Z"/><path fill="url(#svgIDy)" d="M7.26 23.484h7.174a.25.25 0 0 0 .25-.25v-7.992c0-.943-.274-1.822-.747-2.56H7.26a1 1 0 0 0-1 1v8.802a1 1 0 0 0 1 1Z"/><g filter="url(#svgIDz)"><path fill="url(#svgIDA)" d="M7.209 23.484h7.225a.25.25 0 0 0 .25-.25V18.16l-.777-.488a.217.217 0 0 0-.23 0l-7.223 4.514a.413.413 0 0 0-.193.35c0 .524.424.948.948.948Z"/></g><path fill="url(#svgIDB)" d="M7.209 23.484h7.225a.25.25 0 0 0 .25-.25v-5.457l-.777-.105a.217.217 0 0 0-.23 0l-7.223 4.514a.413.413 0 0 0-.193.35c0 .524.424.948.948.948Z"/><path fill="url(#svgIDC)" d="M7.209 23.484h7.225a.25.25 0 0 0 .25-.25v-5.457l-.777-.105a.217.217 0 0 0-.23 0l-7.223 4.514a.413.413 0 0 0-.193.35c0 .524.424.948.948.948Z"/><g filter="url(#svgIDD)"><path fill="url(#svgIDE)" d="M13.937 12.681c.473.74.747 1.618.747 2.561v2.764l-.777.487a.217.217 0 0 1-.23 0L6.454 13.98a.413.413 0 0 1-.193-.35c0-.523.424-.948.948-.948h6.728Z"/><path fill="url(#svgIDF)" d="M13.937 12.681c.473.74.747 1.618.747 2.561v2.764l-.777.487a.217.217 0 0 1-.23 0L6.454 13.98a.413.413 0 0 1-.193-.35c0-.523.424-.948.948-.948h6.728Z"/></g></g><defs><linearGradient id="svgIDb" x1="16.822" x2="13.186" y1="29.879" y2="29.879" gradientUnits="userSpaceOnUse"><stop stop-color="#8F616C"/><stop offset=".42" stop-color="#7D4261"/><stop offset=".774" stop-color="#5E3A43"/></linearGradient><linearGradient id="svgIDc" x1="18.103" x2="17.353" y1="29.879" y2="29.879" gradientUnits="userSpaceOnUse"><stop stop-color="#855A5D"/><stop offset="1" stop-color="#855A5D" stop-opacity="0"/></linearGradient><linearGradient id="svgIDf" x1="20.525" x2="20.525" y1="24.923" y2="11.242" gradientUnits="userSpaceOnUse"><stop offset=".743" stop-color="#5097DA"/><stop offset="1" stop-color="#5D98DA"/></linearGradient><linearGradient id="svgIDi" x1="17.262" x2="9.296" y1="19.63" y2="19.63" gradientUnits="userSpaceOnUse"><stop offset=".222" stop-color="#3B7BDE"/><stop offset="1" stop-color="#3C84D5" stop-opacity="0"/></linearGradient><linearGradient id="svgIDl" x1="9.538" x2="9.538" y1="10.48" y2="23.48" gradientUnits="userSpaceOnUse"><stop offset=".191" stop-color="#3255BF"/><stop offset="1" stop-color="#3255BF" stop-opacity="0"/></linearGradient><linearGradient id="svgIDm" x1="9.926" x2="9.926" y1="10.484" y2="22.438" gradientUnits="userSpaceOnUse"><stop stop-color="#4B1776"/><stop offset="1" stop-color="#240B46"/></linearGradient><linearGradient id="svgIDo" x1="22.66" x2="22.66" y1="2.971" y2="4.658" gradientUnits="userSpaceOnUse"><stop stop-color="#FF8E4E"/><stop offset="1" stop-color="#F96941"/></linearGradient><linearGradient id="svgIDp" x1="18.062" x2="19.659" y1="6.221" y2="6.221" gradientUnits="userSpaceOnUse"><stop stop-color="#948AA4"/><stop offset="1" stop-color="#A6A4AF"/></linearGradient><linearGradient id="svgIDq" x1="19.211" x2="19.211" y1="1.889" y2="3.033" gradientUnits="userSpaceOnUse"><stop stop-color="#BAB9BF"/><stop offset="1" stop-color="#BAB9BF" stop-opacity="0"/></linearGradient><linearGradient id="svgIDw" x1="7.344" x2="13.449" y1="18.709" y2="18.709" gradientUnits="userSpaceOnUse"><stop stop-color="#D0CBD7"/><stop offset=".606" stop-color="#E7DEF2"/></linearGradient><linearGradient id="svgIDx" x1="10.472" x2="9.512" y1="15.656" y2="17.313" gradientUnits="userSpaceOnUse"><stop offset=".261" stop-color="#BFB8C7"/><stop offset="1" stop-color="#CCC4D7" stop-opacity="0"/></linearGradient><linearGradient id="svgIDy" x1="10.355" x2="9.73" y1="20.313" y2="19.406" gradientUnits="userSpaceOnUse"><stop stop-color="#B7B1BF"/><stop offset="1" stop-color="#E2DAEB" stop-opacity="0"/></linearGradient><linearGradient id="svgIDA" x1="14.386" x2="11.043" y1="24.313" y2="19.594" gradientUnits="userSpaceOnUse"><stop stop-color="#CDBFDE"/><stop offset="1" stop-color="#E9E0F5"/></linearGradient><linearGradient id="svgIDB" x1="8.784" x2="8.992" y1="20.562" y2="20.875" gradientUnits="userSpaceOnUse"><stop offset=".212" stop-color="#D9D2E1"/><stop offset="1" stop-color="#D9D2E1" stop-opacity="0"/></linearGradient><linearGradient id="svgIDC" x1="15.329" x2="12.106" y1="23.484" y2="23.11" gradientUnits="userSpaceOnUse"><stop offset=".214" stop-color="#625C6A"/><stop offset="1" stop-color="#9F98A9" stop-opacity="0"/></linearGradient><linearGradient id="svgIDE" x1="10.074" x2="14.684" y1="16.344" y2="10.219" gradientUnits="userSpaceOnUse"><stop stop-color="#E3DFEA"/><stop offset="1" stop-color="#A5A0AD"/></linearGradient><filter id="svgIDe" width="24.113" height="16.283" x="4.044" y="8.64" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx=".2" dy="-.4"/><feGaussianBlur stdDeviation=".375"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.262745 0 0 0 0 0.356863 0 0 0 0 1 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22052"/></filter><filter id="svgIDh" width="12.909" height="16.398" x="3.634" y="8.781" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22052" stdDeviation=".25"/></filter><filter id="svgIDj" width="5.645" height="7.313" x="14.949" y="10.361" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22052" stdDeviation=".625"/></filter><filter id="svgIDk" width="10.016" height="13.5" x="4.53" y="10.23" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22052" stdDeviation=".125"/></filter><filter id="svgIDn" width="6.58" height="4.34" x="19.57" y="2.721" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx=".4" dy="-.25"/><feGaussianBlur stdDeviation=".5"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.858824 0 0 0 0 0.203922 0 0 0 0 0.2 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22052"/></filter><filter id="svgIDs" width="1.319" height="9.516" x="18.473" y="2.893" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_18_22052" stdDeviation=".25"/></filter><filter id="svgIDz" width="8.674" height="6.595" x="6.011" y="16.889" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dx="-.25" dy="-.75"/><feGaussianBlur stdDeviation=".75"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.643137 0 0 0 0 0.584314 0 0 0 0 0.705882 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22052"/></filter><filter id="svgIDD" width="8.424" height="6.095" x="6.261" y="12.431" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="-.25"/><feGaussianBlur stdDeviation=".3"/><feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/><feColorMatrix values="0 0 0 0 0.67451 0 0 0 0 0.639216 0 0 0 0 0.721569 0 0 0 1 0"/><feBlend in2="shape" result="effect1_innerShadow_18_22052"/></filter><radialGradient id="svgIDd" cx="0" cy="0" r="1" gradientTransform="matrix(0 -4.95639 5.62268 0 15.511 29.88)" gradientUnits="userSpaceOnUse"><stop offset=".772" stop-color="#632F53" stop-opacity="0"/><stop offset="1" stop-color="#5A3A46"/></radialGradient><radialGradient id="svgIDg" cx="0" cy="0" r="1" gradientTransform="matrix(-3.43747 -3.75003 1.58491 -1.45282 18.137 11.813)" gradientUnits="userSpaceOnUse"><stop stop-color="#4065B4"/><stop offset="1" stop-color="#4784C4" stop-opacity="0"/></radialGradient><radialGradient id="svgIDr" cx="0" cy="0" r="1" gradientTransform="matrix(0 -.9375 .50781 0 19.565 2.033)" gradientUnits="userSpaceOnUse"><stop stop-color="#CFCBD8"/><stop offset="1" stop-color="#CFCBD8" stop-opacity="0"/></radialGradient><radialGradient id="svgIDt" cx="0" cy="0" r="1" gradientTransform="matrix(2.69549 -1.96875 2.37524 3.25202 -.29 3.136)" gradientUnits="userSpaceOnUse"><stop offset=".104" stop-color="#9571C7"/><stop offset="1" stop-color="#B0B0B7"/></radialGradient><radialGradient id="svgIDu" cx="0" cy="0" r="1" gradientTransform="matrix(0 5.39471 -4.66751 0 2.406 -.582)" gradientUnits="userSpaceOnUse"><stop offset=".643" stop-color="#948DA4" stop-opacity="0"/><stop offset="1" stop-color="#636697"/></radialGradient><radialGradient id="svgIDv" cx="0" cy="0" r="1" gradientTransform="matrix(.9375 -1.75 1.31778 .70595 3.304 .98)" gradientUnits="userSpaceOnUse"><stop offset=".247" stop-color="#D0CCDA"/><stop offset="1" stop-color="#B6B6BD" stop-opacity="0"/></radialGradient><radialGradient id="svgIDF" cx="0" cy="0" r="1" gradientTransform="matrix(7 -1.875 4.70551 17.56721 8.23 16.094)" gradientUnits="userSpaceOnUse"><stop offset=".63" stop-color="#ACA5B5" stop-opacity="0"/><stop offset=".912" stop-color="#88858E"/></radialGradient><clipPath id="svgIDa"><path fill="#fff" d="M0 0h32v32H0z"/></clipPath></defs></g></svg>          </span>
                  </span>
            <% end %>

            <% if !question.is_published %>
              <span style="margin:0 4px">
                <svg width="16" height="16" viewBox="0 0 32 32"><g fill="none"><path fill="#D3D3D3" d="m14.581 10.341l4.938 2.15l2.133 4.921l-3.257 6.516a5 5 0 0 1-3.103 2.573L3.68 29.806a1.203 1.203 0 0 1-1.487-1.486l3.3-11.616a5 5 0 0 1 2.574-3.106l6.514-3.257Z"/><path fill="#433B6B" d="M18.121 2.565a2 2 0 0 1 2.829 0l8.485 8.485a2 2 0 0 1 0 2.829L25.9 17.414l-6.903-4.496L14.586 6.1l3.535-3.536Z"/><path fill="#FFB02E" d="m14.586 6.1l11.313 11.314a3 3 0 0 1-4.242 0l-7.071-7.07a3 3 0 0 1 0-4.243Z"/><path fill="#635994" d="M11.171 22.243a3.001 3.001 0 0 0 3.415-4.829a3 3 0 0 0-4.83 3.415l-7.32 7.32a1 1 0 1 0 1.414 1.415l7.321-7.32Z"/></g></svg>
              </span>
            <% else %>
              <span style="margin:0 4px">
                <svg width="16" height="16" viewBox="0 0 32 32"><g fill="none"><path fill="#F9C23C" d="M2 14a3 3 0 0 1 3-3h2l1.5-1l1 1h7l1.5-1l1 1h2a3 3 0 0 1 3 3v13a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V14Z"/><path fill="#433B6B" d="M14.5 20.5a2.5 2.5 0 1 0-3 0V24a1.5 1.5 0 0 0 3 0v-3.5Z"/><path fill="#D3D3D3" d="M13 2a6 6 0 0 0-6 6v3h2.5V8a3.5 3.5 0 1 1 7 0v3H19V8a6 6 0 0 0-6-6Zm7 20v-6h9v6c0 .5-.25 1-.25 1l-3.25 6s-.294.59-.656.863c.055-.053-.069-.286-.183-.501c-.083-.156-.161-.302-.161-.362c0 .058-.08.204-.165.36c-.116.211-.241.44-.19.493c-.357-.278-.645-.853-.645-.853l-3.25-6s-.25-.5-.25-1Z"/><path fill="#00A6ED" d="M19 15.25c0-.69.56-1.25 1.25-1.25h8.5a1.25 1.25 0 1 1 0 2.5h-8.5c-.69 0-1.25-.56-1.25-1.25Z"/><path fill="#636363" d="M25 22.915a1.5 1.5 0 1 0-1 0V29.5a.5.5 0 0 0 1 0v-6.585Z"/></g></svg>
              </span>
            <% end %>

          <% end %>
            
          <%= link_to question.title, question_path(question) %>
        </p>
      <% end %>
    <% end %>
  <% elsif current_account.id == @profile.profileable.id %>
    <h1>Mes questions</h1>
    <div style="height:55px"></div>
    <p class="">Vous n'avez pas de question.</p>
  <% end %>
  <% if rodauth.logged_in? %>

    <div style="height:55px"></div>
    <% if current_account.sent_follow_request_to?(@profile.profileable) %>
      <h3 style="margin-bottom:12px">Vous avez envoyé une demande de suivi à:</h3>
      <div>
        <div style="display:flex;justify-content: space-between; border-radius:1rem;border:1px solid #EFEFEF; padding: 12px 14px; margin-bottom:7px">
          <div style="display:flex; align-items: center;">
            <div>
              <div style="width:40px; height:40px; border-radius:100%; margin-right:7px">
                <% if @profile.avatar.attached? %>
                <%= image_tag(@profile.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border-radius:100%", size:"30px") %>
              <% else %>
                <div style="background-color:<%= @profile.color %>; height:40px; width:40px; border-radius:100%; display:flex; align-items:center;  justify-content: center;">
                  <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:.7rem;letter-spacing:-1px">
                    <%#= user.profile.get_initial_profile %>
                  </p>
                </div>
              <% end %>
              </div>
            </div>
            <div>
              <p style="display:flex;align-items: center;"><strong><%= link_to "#{@profile.lastname} #{@profile.firstname}", profile_path(@profile.profileable), class:"link", style:"font-weight:600; text-decoration:none; color:#222" %></strong></p>
              <p style="opacity:.5; margin-top:-6px">@<%= @profile.username %></p>
            </div>
          </div>
          <div>
            <%= button_to "Annuler la demande", cancel_following_path(@profile.profileable), class:"btn" %>
          </div>
        </div>
      </div>
    <% end %>
    <div style="padding-top:var(--space-m)">
      <% if (rodauth.logged_in? && current_account.id == @profile.profileable.id) || (@profile.profileable.sent_follow_request_to?(current_account)) %>
        <% current_account.follow_requests.each do |request| %>

          <div style="display:flex;justify-content: space-between; border-radius:1rem;border:1px solid #EFEFEF; padding: 12px 14px; margin-bottom:7px">
            <div style="display:flex;align-items: center;">
              <div>
                <div style="width:40px; height:40px; border-radius:100%; margin-right:7px">
                  <% if request.followerable.profile.avatar.attached? %>
                    <%= image_tag(request.followerable.profile.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border-radius:100%", size:"30px") %>
                  <% else %>
                    <div style="background-color:<%= request.followerable.profile.color %>; height:40px; width:40px; border-radius:100%; display:flex; align-items:center;  justify-content: center;">
                      <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:.9rem; letter-spacing:-1px">
                        <%= request.followerable.profile.get_initial_profile %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
              <div>
                <p  style="display:flex;align-items: center;"><strong><%= link_to ("#{request.followerable.profile.lastname} #{request.followerable.profile.firstname}" != " ") ? "#{request.followerable.profile.lastname} #{request.followerable.profile.firstname}": request.followerable.profile.username, profile_path(request.followerable), class:"link", style:"font-weight:600; text-decoration:none; color:#222" %></strong><span style="font-size:.9rem; margin-left:7px">veux vous suivre</span></p>
                <p style="opacity:.5; margin-top:-6px">@<%= request.followerable.profile.username %></p>
              </div>
            </div>
            <div style="display:flex; align-items:center; column-gap: 5px;">
              <%= button_to "Accepter", accept_following_path(request.followerable), class:"btn btn--primary" %>
              <%= button_to "Refuser", decline_following_path(request.followerable), class:"btn btn--black" %>
            </div>
          </div>


        <% end %>
        <% current_account.followers.each do |follower| %>

          <div style="display:flex;justify-content: space-between; border-radius:1rem;border:1px solid #EFEFEF; padding: 12px 14px; margin-bottom:7px">
            <div style="display:flex;align-items: center;">
              <div>
                <div style="width:40px; height:40px; border-radius:100%; margin-right:7px">
                <% if follower.profile.avatar.attached? %>
                  <%= image_tag(follower.profile.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border-radius:100%", size:"30px") %>
                <% else %>
                  <div style="background-color:<%= follower.profile.color %>; height:40px; width:40px; border-radius:100%; display:flex; align-items:center;  justify-content: center;">
                    <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:.7rem; letter-spacing:-1px">
                      <%= follower.profile.get_initial_profile %>
                    </p>
                  </div>
                <% end %>
                </div>
              </div>
              <div>
                <p  style="display:flex;align-items: center;"><strong><%= link_to "#{follower.profile.lastname} #{follower.profile.firstname}", profile_path(follower), class:"link", style:"font-weight:600; text-decoration:none; color:#222" %></strong> <span style="margin-left:5px; font-size:.7rem; padding:0px 5px; background-color:#EFEFEF; border-radius:5px">vous suit</span></p>
                <p style="opacity:.5; margin-top:-6px">@<%= follower.profile.username %></p>
                
              </div>
            </div>
            <div style="display:flex; align-items:center; column-gap:7px">
                  <% if !current_account.block(@profile.profileable) %>
                    <%= button_to "Bloquer", blocking_profile_path(@profile.profileable), class:"btn btn--alert" %>
                    <% if !current_account.following?(@profile.profileable) %>
                      <%= button_to "Se désabonner", unfollow_profile_path(@profile.profileable), class:"btn btn--black" %>
                    <% end %>
                  <% else %>
                    <%= button_to "Débloquer", unblocking_profile_path(@profile.profileable), class:"btn btn--alert" %>
                  <% end %>
                </div>
          </div>
          
        <% end %>
      <% end %>
      
      <% if @profile.profileable.mutual_following_with?(current_account) || current_account.blocked?(@profile.profileable) %>
        <div style="display:flex;justify-content: space-between;align-items:center; border-radius:1rem; border:1px solid #EFEFEF; padding: 12px 14px; margin-bottom:7px">
          <p style="padding:0 7px"><%= current_account.block(@profile.profileable) ? "Vous avez bloqué " : "Vous suivez déjà " %><strong><%= "#{@profile.lastname} #{@profile.firstname}" %></strong></p>
          <div style="display:flex; align-items:center; column-gap:7px">
            <% if !current_account.blocked?(@profile.profileable) %>
              <%= button_to "Bloquer", blocking_profile_path(@profile.profileable), class:"btn btn--alert" %>
              <% if current_account.following?(@profile.profileable) %>
                <%= button_to "Se désabonner", unfollow_profile_path(@profile.profileable), class:"btn btn--black" %>
              <% end %>
            <% elsif current_account.blocked?(@profile.profileable) %>
              <%= button_to "Débloquer", unblocking_profile_path(@profile.profileable), class:"btn btn--alert" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div style="height:55px"></div>
        

      <div class="flex items-center mb-6 mr-6" style="display:flex; column-gap:7px">
          
        <% if current_account.following?(@profile.profileable) %>
          <%#= button_to "Se désabonner", unfollow_profile_path(@profile.profileable), class:"btn" %>
        <% elsif current_account.sent_follow_request_to?(@profile.profileable) %>
          <%#= button_to "Annuler la demande", cancel_following_path(@profile.profileable), class:"btn" %>
        <% else %> 
          <% if !@profile.profileable.sent_follow_request_to?(current_account) && current_account.id != @profile.profileable.id %>
            <% if !current_account.blocked?(@profile.profileable) %>
              <%= button_to "Bloquer", blocking_profile_path(@profile.profileable), class:"btn btn--alert" %>
            <% end %>

           <%#= button_to "Suivre", follow_profile_path(@profile.profileable), class:"btn btn--black" %> 

          <% else %>
          <% end %>
            <% if !current_account.mutual_following_with?(@profile.profileable)  && !@profile.profileable.sent_follow_request_to?(current_account) && !current_account.blocked?(@profile.profileable) %>
              <%= button_to "Suivre", follow_profile_path(@profile.profileable), class:"btn btn--black" %>
            <% end %>
        <% end %>


        <% if current_account.id == @profile.profileable_id %>
          <%= link_to "Modifier le profil", edit_profile_path(@profile.profileable), class: "btn btn--primary" %>
          <div style="height:10px; width:10px"></div>
          <%= button_to "Déconnexion", rodauth.logout_path, method: :post, class: "btn btn--primary" %>
        <% end %>
        <div style="height:10px; width:10px"></div>
        <%= link_to "Retour", :back,  class: "btn btn--primary" %>

      </div>

    </div>
  <% end %>
</div>
