
<div class="home__container">
  
  
  <div class="left__part">
   <div class="menu__principal">
     <div class="navbar__brand">
       <%= link_to "Kandapedia", root_path, style:"font-size:1.7rem; letter-spacing:-0.05rem; margin-left: 8px; text-decoration-line: none;" %>
     </div>
     <ul style="list-style-type: none; padding-top:3.2rem; row-gap: 20px">
       
       
       <li>
         <%= link_to root_path, class:"menu__principal-item" do %>
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="currentColor"><path d="M9.447 15.398a.75.75 0 1 0-.894 1.204A5.766 5.766 0 0 0 12 17.75a5.766 5.766 0 0 0 3.447-1.148a.75.75 0 1 0-.894-1.204A4.267 4.267 0 0 1 12 16.25a4.267 4.267 0 0 1-2.553-.852Z"/><path fill-rule="evenodd" d="M12 1.25c-.708 0-1.351.203-2.05.542c-.674.328-1.454.812-2.427 1.416L5.456 4.491c-.92.572-1.659 1.03-2.227 1.465c-.589.45-1.041.91-1.368 1.507c-.326.595-.472 1.229-.543 1.978c-.068.725-.068 1.613-.068 2.726v1.613c0 1.904 0 3.407.153 4.582c.156 1.205.486 2.178 1.23 2.947c.747.773 1.697 1.119 2.875 1.282c1.14.159 2.598.159 4.434.159h4.116c1.836 0 3.294 0 4.434-.159c1.177-.163 2.128-.509 2.876-1.282c.743-.769 1.073-1.742 1.23-2.947c.152-1.175.152-2.678.152-4.582v-1.613c0-1.113 0-2-.068-2.726c-.07-.75-.217-1.383-.543-1.978c-.327-.597-.78-1.056-1.368-1.507c-.568-.436-1.306-.893-2.227-1.465l-2.067-1.283c-.973-.604-1.753-1.088-2.428-1.416c-.697-.34-1.34-.542-2.049-.542ZM8.28 4.504c1.015-.63 1.73-1.072 2.327-1.363c.581-.283.993-.391 1.393-.391s.812.108 1.393.391c.598.29 1.312.733 2.327 1.363l2 1.241c.961.597 1.636 1.016 2.14 1.402c.489.375.77.684.963 1.036c.193.353.306.766.365 1.398c.061.648.062 1.465.062 2.623v1.521c0 1.97-.002 3.376-.14 4.443c-.136 1.048-.393 1.656-.82 2.099c-.425.439-1.003.7-2.004.839c-1.026.142-2.379.144-4.286.144h-4c-1.908 0-3.26-.002-4.286-.144c-1.001-.14-1.579-.4-2.003-.84c-.428-.442-.685-1.05-.82-2.098c-.14-1.067-.141-2.472-.141-4.443v-1.521c0-1.158 0-1.975.062-2.623c.059-.632.172-1.045.365-1.398c.193-.352.474-.661.964-1.036c.503-.386 1.178-.805 2.139-1.402l2-1.24Z" clip-rule="evenodd"/></g></svg>
             </div>
             <p class="menu__principal-item--p">Accueil</p>
           </div>
           <!--  <span class="menu__principal-number">12</span>-->
         <% end %>
       </li>
       <li>
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><circle cx="11.5" cy="11.5" r="9.5"/><path stroke-linecap="round" d="M18.5 18.5L22 22"/></g>
               </svg>
             </div>
             <p class="menu__principal-item--p">Recherche</p>
           </div>
<!--           <span class="menu__principal-number">12</span>-->
         </a>
       </li>
       <li>
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
<!--               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 4.75a7.25 7.25 0 0 0-5.314 12.182c1.942-.448 4.336-1.359 6.792-2.667c2.294-1.223 4.23-2.572 5.604-3.822A7.253 7.253 0 0 0 12 4.75Zm7.245 7.531c-1.382 1.126-3.112 2.269-5.062 3.307c-2.12 1.13-4.224 1.99-6.083 2.525a7.25 7.25 0 0 0 11.144-5.832ZM6.21 18.561a8.75 8.75 0 0 0 14.481-7.58l.09-.09c.754-.77 1.342-1.54 1.672-2.268c.324-.716.458-1.544.012-2.258c-.42-.67-1.185-.96-1.956-1.064c-.771-.104-1.702-.044-2.72.138a8.75 8.75 0 0 0-14.481 7.58c-.758.761-1.354 1.52-1.703 2.236c-.366.75-.54 1.627-.07 2.38c.433.691 1.232.979 2.032 1.074c.754.09 1.657.029 2.643-.148Zm-1.235-1.343A8.727 8.727 0 0 1 3.708 14.8c-.344.41-.595.785-.756 1.114c-.277.567-.208.825-.145.925c.072.116.305.305.937.38c.343.041.755.042 1.231-.001Zm14.05-10.436a5.879 5.879 0 0 1 1.285.005c.594.08.813.262.883.374c.06.095.126.33-.107.844c-.156.344-.42.748-.794 1.195a8.724 8.724 0 0 0-1.267-2.418Z" clip-rule="evenodd"/></svg>-->
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M16.706 3.071c-1.743.462-4.052 1.384-7.217 2.65c-1.391.557-1.917.778-2.324 1.135c-.11.096-.213.2-.309.309c-.357.407-.578.933-1.134 2.324c-1.267 3.165-2.189 5.474-2.65 7.217c-.47 1.768-.393 2.71.02 3.318c.236.348.536.648.884.884c.607.413 1.55.49 3.318.02c1.743-.462 4.052-1.384 7.217-2.65c1.391-.556 1.917-.777 2.324-1.134l.459.523l-.459-.523c.11-.096.213-.2.309-.309l.529.464l-.53-.464c.358-.407.579-.933 1.135-2.324c1.267-3.165 2.189-5.474 2.65-7.217c.47-1.768.393-2.71-.02-3.318a3.336 3.336 0 0 0-.884-.885c-.607-.412-1.55-.488-3.318-.02Zm-.384-1.45c1.827-.484 3.356-.579 4.545.23c.505.343.94.777 1.282 1.282c.809 1.19.714 2.718.23 4.545c-.489 1.842-1.446 4.236-2.686 7.336l-.022.054l-.05.127c-.488 1.22-.802 2.005-1.35 2.629a4.715 4.715 0 0 1-.447.447c-.624.548-1.409.861-2.63 1.35l-.126.05l-.054.022c-3.1 1.24-5.494 2.197-7.335 2.685c-1.828.485-3.357.58-4.546-.229a4.835 4.835 0 0 1-1.282-1.282l.62-.421l-.62.421c-.809-1.19-.714-2.718-.23-4.546c.489-1.841 1.446-4.235 2.686-7.335l.022-.054l.05-.127c.489-1.22.802-2.005 1.35-2.629c.139-.159.288-.308.447-.448c.624-.547 1.409-.86 2.63-1.348l.126-.051l.054-.022c3.1-1.24 5.494-2.197 7.335-2.685ZM12 9.75a2.25 2.25 0 1 0 0 4.5a2.25 2.25 0 0 0 0-4.5ZM8.25 12a3.75 3.75 0 1 1 7.5 0a3.75 3.75 0 0 1-7.5 0Z" clip-rule="evenodd"/></svg>
             </div>
             <p class="menu__principal-item--p">Découvrir</p>
           </div>
<!--           <span class="menu__principal-number">12</span>-->
         </a>
       </li>
       <li>
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="1.5" d="m11.924 8.8l-.358-.205c-.393-.223-.59-.335-.723-.522c-.134-.187-.19-.427-.301-.908l-.102-.437c-.394-1.692-.59-2.538-1.157-2.702m2.64 4.773c1.383.787 2.075 1.181 2.099 1.841c.024.66-.635 1.15-1.953 2.13l-.34.253c-.375.278-.562.417-.681.622m.876-4.846l7.62 2.11m-9.752 6.983c.551-.244.685-1.113.953-2.852l.069-.45c.076-.494.114-.74.233-.945m-1.255 4.247s-1.156-.3-2.364-1.386l-.312-.282c-.344-.308-.515-.463-.723-.523c-.207-.06-.427-.02-.867.062l-.4.075c-1.549.287-2.323.43-2.688-.08c-.365-.509-.08-1.334.492-2.985l.148-.427c.162-.469.243-.703.234-.945c-.009-.242-.107-.464-.302-.908l-.179-.404c-.688-1.56-1.033-2.341-.707-2.9c.326-.559 1.106-.525 2.667-.459l.404.017c.444.02.665.029.867-.06c.203-.09.362-.268.68-.624l.291-.324c1.122-1.252 1.683-1.878 2.25-1.713m.509 13.866l6.546 1.899c.694.201 1.041.302 1.4.096c.358-.206.457-.515.654-1.132c.128-.4.249-.871.33-1.4l.07-.45c.076-.495.114-.742.233-.946m-7.977-2.314l7.977 2.314M9.283 4.026L17.26 6.34c.566.164.763 1.01 1.156 2.702l.102.437c.112.481.168.722.302.908c.133.187.33.299.723.522m0 0l.357.204c1.383.788 2.074 1.181 2.098 1.841c.025.66-.634 1.15-1.952 2.13l-.34.253c-.375.278-.563.417-.682.622"/>
               </svg>
             </div>
             <p class="menu__principal-item--p">Kandies</p>
           </div>
<!--           <span class="menu__principal-number">12</span>-->
         </a>
       </li>
       <li>
         <%= link_to questions_path, class: "menu__principal-item" do %>
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M10.944 1.25h2.112c1.838 0 3.294 0 4.433.153c1.172.158 2.121.49 2.87 1.238a.75.75 0 0 1-1.06 1.06c-.424-.422-1.004-.676-2.01-.811c-1.027-.138-2.382-.14-4.289-.14h-2c-1.907 0-3.261.002-4.29.14c-1.005.135-1.585.389-2.008.812c-.423.423-.677 1.003-.812 2.009c-.138 1.028-.14 2.382-.14 4.289v4c0 1.907.002 3.262.14 4.29c.135 1.005.389 1.585.812 2.008c.423.423 1.003.677 2.009.812c1.028.138 2.382.14 4.289.14h2c1.907 0 3.262-.002 4.29-.14c1.005-.135 1.585-.389 2.008-.812c.696-.696.907-1.777.943-4.309a.75.75 0 0 1 1.5.022c-.035 2.427-.192 4.158-1.382 5.348c-.749.748-1.698 1.08-2.87 1.238c-1.14.153-2.595.153-4.433.153h-2.112c-1.838 0-3.294 0-4.433-.153c-1.172-.158-2.121-.49-2.87-1.238c-.748-.749-1.08-1.698-1.238-2.87c-.153-1.14-.153-2.595-.153-4.433V9.944c0-1.838 0-3.294.153-4.433c.158-1.172.49-2.121 1.238-2.87c.749-.748 1.698-1.08 2.87-1.238c1.14-.153 2.595-.153 4.433-.153Zm7.17 5.796a2.716 2.716 0 1 1 3.84 3.84L17.2 15.643a7.025 7.025 0 0 1-.63.587c-.23.18-.48.334-.744.46c-.224.107-.46.185-.806.3l-2.084.695a1.28 1.28 0 0 1-1.62-1.62l.681-2.04l.014-.043c.116-.347.194-.582.301-.806a4.03 4.03 0 0 1 .46-.744c.153-.196.328-.371.587-.63l.031-.031l4.724-4.724Zm2.78 1.06a1.216 1.216 0 0 0-1.72 0l-.182.182c.01.033.021.07.034.107c.094.27.273.63.611.968a2.553 2.553 0 0 0 1.075.645l.182-.182a1.216 1.216 0 0 0 0-1.72Zm-1.328 3.048a4.083 4.083 0 0 1-.99-.73a4.083 4.083 0 0 1-.73-.99L14.45 12.83c-.301.301-.407.409-.496.523c-.113.145-.21.302-.289.467c-.062.131-.111.274-.246.678l-.4 1.2l.283.283l1.2-.4c.404-.135.547-.184.678-.246c.165-.08.322-.176.467-.289c.114-.089.222-.195.523-.496l3.396-3.396ZM7.25 9A.75.75 0 0 1 8 8.25h6.5a.75.75 0 0 1 0 1.5H8A.75.75 0 0 1 7.25 9Zm0 4a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75Zm0 4a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"/></svg>
               </svg>
             </div>
             <p class="menu__principal-item--p">Journaux</p>
           </div>
<!--           <span class="menu__principal-number">12</span>-->
         <% end %>
       </li>
       <li>
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="currentColor"><path fill-rule="evenodd" d="M13.336 1.25h2.327c1.195 0 2.146 0 2.908.072c.781.075 1.442.23 2.03.591A4.5 4.5 0 0 1 22.087 3.4c.36.588.516 1.249.59 2.03c.073.762.073 1.713.073 2.908v.815c0 .85 0 1.527-.038 2.076c-.038.561-.118 1.043-.305 1.494a4.5 4.5 0 0 1-2.435 2.436c-.38.157-.783.239-1.241.284c-.006.14-.012.272-.02.398c-.041.596-.126 1.104-.323 1.578a4.75 4.75 0 0 1-2.57 2.57c-.597.248-1.255.32-2.083.347c-.446.014-.73.024-.947.05c-.204.025-.281.058-.323.083c-.046.027-.11.077-.22.23c-.12.165-.256.393-.47.756l-.26.438c-.677 1.144-2.353 1.144-3.03 0l-.26-.438c-.214-.363-.35-.591-.47-.756c-.11-.153-.174-.203-.22-.23c-.042-.025-.119-.058-.323-.083a11.93 11.93 0 0 0-.947-.05c-.828-.027-1.486-.1-2.083-.347a4.75 4.75 0 0 1-2.57-2.57c-.197-.474-.282-.982-.322-1.578c-.04-.584-.04-1.304-.04-2.213v-.866c0-1.276 0-2.288.077-3.098c.079-.83.244-1.526.623-2.145A4.75 4.75 0 0 1 3.518 5.95c.619-.38 1.315-.544 2.145-.623c.21-.02.435-.035.675-.046c.08-.72.24-1.334.575-1.882A4.5 4.5 0 0 1 8.4 1.913c.588-.36 1.249-.516 2.03-.59c.762-.073 1.713-.073 2.907-.073ZM7.853 5.251l.908-.001h2.478c1.276 0 2.288 0 3.098.077c.83.079 1.526.244 2.145.623a4.75 4.75 0 0 1 1.568 1.568c.38.619.544 1.315.623 2.145c.077.81.077 1.822.077 3.098v1.169a2.5 2.5 0 0 0 .648-.158a3 3 0 0 0 1.624-1.624c.098-.238.16-.537.194-1.022c.034-.492.034-1.117.034-2.001v-.75c0-1.242 0-2.12-.066-2.804c-.064-.671-.184-1.075-.376-1.388a3 3 0 0 0-.99-.99c-.314-.193-.718-.313-1.39-.377c-.682-.065-1.561-.066-2.803-.066h-2.25c-1.242 0-2.121 0-2.804.066c-.671.064-1.075.184-1.389.376a3 3 0 0 0-.99.99c-.16.263-.27.585-.339 1.07Zm-2.048 1.57c-.72.068-1.16.198-1.503.408a3.25 3.25 0 0 0-1.073 1.073c-.21.343-.34.783-.409 1.503c-.07.73-.07 1.671-.07 2.995v.8c0 .942 0 1.611.036 2.138c.036.52.103.845.211 1.106a3.25 3.25 0 0 0 1.76 1.759c.333.138.764.207 1.556.232l.031.001c.406.013.758.025 1.05.06c.31.038.615.11.904.28c.285.17.491.393.67.64c.167.23.338.519.533.847l.275.465a.25.25 0 0 0 .224.122a.25.25 0 0 0 .224-.122l.275-.465c.194-.328.366-.618.532-.847a2.23 2.23 0 0 1 .67-.64c.29-.17.595-.242.905-.28a12.59 12.59 0 0 1 1.05-.06h.03c.793-.026 1.223-.095 1.558-.233a3.25 3.25 0 0 0 1.759-1.76c.108-.26.175-.586.21-1.105c.037-.527.037-1.196.037-2.138v-.8c0-1.324 0-2.264-.07-2.995c-.069-.72-.199-1.16-.409-1.503a3.25 3.25 0 0 0-1.073-1.073c-.343-.21-.783-.34-1.503-.409c-.73-.07-1.671-.07-2.995-.07H8.8c-1.324 0-2.264 0-2.995.07Z" clip-rule="evenodd"/><path d="M7.5 13a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm3.5 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0Zm3.5 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z"/></g></svg>
             </div>
             <p class="menu__principal-item--p">Messages</p>
           </div>
           <span class="menu__principal-number yellow">24</span>
         </a>
       </li>
       <li>
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="currentColor"><path d="M12.75 6a.75.75 0 0 0-1.5 0v4a.75.75 0 0 0 1.5 0V6Z"/><path fill-rule="evenodd" d="M4.25 9a7.75 7.75 0 1 1 15.5 0v.704c0 .697.206 1.378.593 1.958l1.148 1.723c1.334 2 .316 4.718-2.003 5.35c-.755.206-1.517.38-2.284.523l-.002.005c-.769 2.052-2.824 3.487-5.202 3.487s-4.433-1.435-5.202-3.487l-.002-.005a28.47 28.47 0 0 1-2.284-.523c-2.319-.632-3.337-3.35-2.003-5.35l1.148-1.723a3.53 3.53 0 0 0 .593-1.958V9Zm4.373 10.537a28.46 28.46 0 0 0 6.753 0c-.71 1.021-1.947 1.713-3.376 1.713c-1.429 0-2.666-.692-3.377-1.713ZM12 2.75A6.25 6.25 0 0 0 5.75 9v.704a5.03 5.03 0 0 1-.845 2.79l-1.148 1.723a2.021 2.021 0 0 0 1.15 3.071a26.96 26.96 0 0 0 14.187 0a2.02 2.02 0 0 0 1.15-3.07l-1.15-1.724a5.03 5.03 0 0 1-.844-2.79V9A6.25 6.25 0 0 0 12 2.75Z" clip-rule="evenodd"/></g></svg>
             </div>
             <p class="menu__principal-item--p">Notifications</p>
           </div>
           <span class="menu__principal-number grey">36</span>
         </a>
       </li>
       <% if rodauth.logged_in? %>
         <%
           if @profile != nil && current_account.id == @profile.profileable.id
             user = @profile
           else
             user = current_account.nil? ? nil : current_account.profile
           end
         %>
         <li>
           <%=  link_to profile_url(user), class:"menu__principal-item", style:"display:flex; align-items: center; column-gap: 0.75rem; justify-content: start" do  %>
             <div style="margin-left:-1px">
               <% if !user.nil? && user.avatar.attached? %>
                 <div style="height:27px; width:27px; border-radius:100%; display:flex; align-items:center;  justify-content: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                   <%= image_tag(user.avatar_profile, class: "navbar__name_image",  size:"32px") %>
                 </div>
               <% else %>
                 <div style="background-color:<%= !user.nil?  ? user.color : '#00FFFF' %>; height:27px; width:27px; border-radius:100%; display:flex; align-items:center;  justify-content: center;">
                   <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:.7rem; letter-spacing:-1px">
                     <%= !user.nil? ? user.get_initial_profile : "---" %>
                   </p>
                 </div>
               <% end %>
             </div>
             <p class="menu__principal-item--p" style="margin-left:-1px;">Profil</p>
           <% end %>
         </li>
       <% end %>  
       <li style="margin-top: 175px">
         <a href="" class="menu__principal-item">
           <div class="menu__principal-item--a">
             <div style="color:var(--color-text-body-high);">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M2.25 12a2.75 2.75 0 1 1 5.5 0a2.75 2.75 0 0 1-5.5 0ZM5 10.75a1.25 1.25 0 1 0 0 2.5a1.25 1.25 0 0 0 0-2.5ZM9.25 12a2.75 2.75 0 1 1 5.5 0a2.75 2.75 0 0 1-5.5 0ZM12 10.75a1.25 1.25 0 1 0 0 2.5a1.25 1.25 0 0 0 0-2.5Zm7-1.5a2.75 2.75 0 1 0 0 5.5a2.75 2.75 0 0 0 0-5.5ZM17.75 12a1.25 1.25 0 1 1 2.5 0a1.25 1.25 0 0 1-2.5 0Z" clip-rule="evenodd"/></svg>
             </div>
             <p class="menu__principal-item--p">Plus</p>
           </div>
           <!-- <span class="menu__principal-number">12</span>-->
         </a>
       </li>
       

     </ul>
   </div>
  </div>
  
  
  <div class="center__part">
    
    <div class="top__layout">
      <div style="display:flex; justify-content: space-between; align-items: center">
        <div style="font-weight:bold; font-size:2rem; padding-left:21px">Inbox</div>
        
        <div style="padding: 15px; margin-left: auto; margin-right: 0; position:relative;">
          <label for=""></label>
          <input type="search" name="search" id="" class="top__search" placeholder="Rechercher des gens, des sujets, des kandies...">
          <div style="position: absolute; left: 34px; bottom: 27px">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><g fill="none" stroke-width="1.5"><circle cx="11.5" cy="11.5" r="9.5"/><path stroke-linecap="round" d="M18.5 18.5L22 22"/></g></svg>
          </div>
        </div>
      </div>
      <ul style="display: flex; overflow-x: scroll; column-gap: 7px; color:var(--color-text-body); margin: auto; padding-bottom: 14px; padding-left: 14px; padding-right: 14px; list-style-type: none">
        <li>
<!--          <div style="white-space: nowrap; padding: 7px 14px; border-radius: 40px; background-color: #212228; color: #7E7F85; font-size: small; display:flex; align-items: center; justify-content: center">-->
<!--            Recommandation-->
<!--          </div>-->
          <div class="top__item selected">
            Recommandation
          </div>
        </li>
        <li>
          <div class="top__item">
            Culture
          </div>
        </li>
        <li>
          <div class="top__item">
            Entrepreuneuriat
          </div>
        </li>
        <li>
          <div class="top__item">
            Technologie
          </div>
        </li>
        <li>
          <div class="top__item">
            Politique
          </div>
        </li>
        <li>
          <div class="top__item">
            Sport
          </div>
        </li>
        <li>
          <div class="top__item">
            Reforme des retraites
          </div>
        </li>
        <li>
          <div class="top__item">
            Election 241
          </div>
        </li>
      </ul>
    </div>
    
    <div>
      <%= render 'candies/edit_form' %>
    </div>
    
    <div style="">
      <% @candies.each do |kandy| %>
        <%= render KandyComponent.new(kandy: kandy) %>
      <% end %>
    </div>
  </div>
  
  
  
  <div class="right__part">
    <div style="color:var(--color-text-body)">
    </div>
  </div>
</div>
