<%= render "layouts/navbar" %>
<div class="form__container my">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  <img src="https://vite-ruby.netlify.app/logo.svg" width="150px"  alt="logo de vite-ruby"/>
  <h1>Kandapedia</h1>
  <p>L'encyclopedie participative qui repond à toutes vos questions (ou presque)</p>
  <div style="width:100%; height:30px"></div>
  <%= link_to "Les questions", questions_url, class: "btn btn--primary" %>
  <%= link_to "Les kandies", candies_url, class: "btn btn--primary" %>
</div>