<% # encoding: UTF-8 %>
<div class="form__container mt">
  <%= link_to root_path, class:"btn-back" do %>
    <span class="btn-back icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path fill="currentColor" d="M14.71 15.88L10.83 12l3.88-3.88a.996.996 0 1 0-1.41-1.41L8.71 11.3a.996.996 0 0 0 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42z"/></svg>
    </span>
    <span class="btn-back text">Accueil</span>
  <% end %>

  <h2 class="form__title">Connexion</h2>
  <% if !rodauth.skip_password_field_on_login? %>
    <p class="form__sub-title">Renseignez<br/>vos identifiants</p>
  <% else %>
    <p class="form__sub-title">Bienvenue sur Kandapedia</p>
  <% end %>
  <% if rodauth.field_error(rodauth.login_param) || rodauth.field_error(rodauth.password_param) %>
    <div class="error__explanation">
      <p class="error__explanation-title"><%= (nbre_error = [rodauth.field_error(rodauth.login_param), rodauth.field_error(rodauth.password_param)].reject(&:nil?).count > 1) ? "#{nbre_error} erreurs lors de la connexion" : "Une erreur de connexion" %></p>
      <ul class="list-disc list-inside">
        <% if rodauth.field_error(rodauth.login_param) %>
          <li>
            <a href="#login" class="error-link"><%= rodauth.field_error(rodauth.login_param) ? "#{rodauth.field_error(rodauth.login_param)} à \"#{params[rodauth.login_param]}\"" : "pas de soucis" %></a>
          </li>
        <% end %>
        <% if rodauth.field_error(rodauth.password_param) %>
          <li>
            <a href="#password" class="error-link"><%= rodauth.field_error(rodauth.password_param) ? "#{rodauth.field_error(rodauth.password_param)}" : "pas de soucis" %></a>
          </li>
        <% end %>
      </ul>
    </div>
  <% elsif !notice.nil? %>
    <div class="error__explanation" style="background-color:rgba(255, 255, 0, .1)">
      <p class="error__explanation-title" style="color:rgb(105, 105, 0)"><%= notice %></p>  
    </div>
  <% end %>
  <ul class="mb-2 list-disc">
    <li class="mb-1">
    Pas encore inscrit&nbsp;?&nbsp;<%= link_to "Inscrivez-vous", rodauth.create_account_path,  class: "link" %>
    </li>
    <li class="">
      Mot de passe oublié&nbsp;?&nbsp;<%= link_to "Réinitialisez-le", rodauth.reset_password_request_path,  class: "link" %>
    </li>
  </ul>
  <!--
 <p>Pour vous connecter à votre compte, remplissez le<%= (!rodauth.skip_password_field_on_login?) ? 's' : '' %> champ<%= (!rodauth.skip_password_field_on_login?) ? 's' : '' %> ci-dessous et cliquez sur le bouton <strong><%= (!rodauth.skip_password_field_on_login?) ? 'Se connecter' : 'Continuer' %></strong>.</p> 
  -->
</div>
