<%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false }, class:"form__layout" do |form| %>
  <%
=begin%>
 <div class="form-group mb-3">
    <%= form.label :firstname, "Nom(s)", class: "form-label" %>
    <%= form.text_field :firstname, value: params[:firstname], id: "job", autocomplete: "firstname", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(:firstname)}", aria: ({ invalid: true, describedby: "firstname_error_message" } if rodauth.field_error(:firstname)) %>
    <%= content_tag(:span, rodauth.field_error(:firstname), class: "invalid-feedback", id: "firstname_error_message") if rodauth.field_error(:firstname) %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :lastname, "Prénom(s)", class: "form-label" %>
    <%= form.text_field :lastname, value: params[:lastname], id: "job", autocomplete: "lastname", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(:lastname)}", aria: ({ invalid: true, describedby: "lastname_error_message" } if rodauth.field_error(:lastname)) %>
    <%= content_tag(:span, rodauth.field_error(:lastname), class: "invalid-feedback", id: "lastname_error_message") if rodauth.field_error(:lastname) %>
  </div> 
<%
=end%>

  <h2 style="letter-spacing:-0.025em; margin-top:2rem">Inscription</h2>
  <p style="font-size:3rem; margin-top:.7rem; font-weight:700; line-height:2.7rem; letter-spacing:0.3">Commençons avec un compte gratuit</p>

  <p style="line-height:21px; margin-top:1.5rem">L’inscription vous prendra 30 secondes. Aucun moyen de paiement n’est requis. Et si vous êtes <%= link_to "déjà inscrit sur Kandapedia, connectez-vous",rodauth.login_path, class:"link" %>.</p>


  <div class="form__group mb-3">
    <%= form.label :username, "Pseudo", class: "form__label" %>
    <%= form.text_field :username, value: params[:username], id: "job", autocomplete: "username", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(:username)}", aria: ({ invalid: true, describedby: "username_error_message" } if rodauth.field_error(:username)) %>
    <%= content_tag(:span, rodauth.field_error(:username), class: "invalid-feedback", id: "username_error_message") if rodauth.field_error(:username) %>
  </div>

  <div class="form__group mb-3">
    <%= form.label "login", rodauth.login_label, class: "form__label" %>
    <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
    <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
  </div>

  <%
=begin%>
 <div class="form-group mb-3">
    <%= form.label :job, "Job", class: "form-label" %>
    <%= form.text_field :job, value: params[:job], id: "job", autocomplete: "job", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(:job)}", aria: ({ invalid: true, describedby: "job_error_message" } if rodauth.field_error(:job)) %>
    <%= content_tag(:span, rodauth.field_error(:job), class: "invalid-feedback", id: "job_error_message") if rodauth.field_error(:job) %>
  </div> 


  <div class="form-group mb-3">
    <%= form.label :bio, "Biographie", class: "form-label" %>
    <%= form.text_area :bio, value: params[:bio], id: "bio", autocomplete: "bio", required: true, class: "form-control #{"is-invalid" if rodauth.field_error(:bio)}", aria: ({ invalid: true, describedby: "bio_error_message" } if rodauth.field_error(:bio)) %>
    <%= content_tag(:span, rodauth.field_error(:bio), class: "invalid-feedback", id: "bio_error_message") if rodauth.field_error(:bio) %>
  </div>
<%
=end%>

  <% if rodauth.require_login_confirmation? %>
    <div class="form__group mb-3">
      <%= form.label "login-confirm", rodauth.login_confirm_label, class: "form__label" %>
      <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], id: "login-confirm", autocomplete: "email", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.login_confirm_param)}", aria: ({ invalid: true, describedby: "login-confirm_error_message" } if rodauth.field_error(rodauth.login_confirm_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.login_confirm_param), class: "invalid-feedback", id: "login-confirm_error_message") if rodauth.field_error(rodauth.login_confirm_param) %>
    </div>
  <% end %>

  <% if rodauth.create_account_set_password? %>
    <div class="form__group mb-3">
      <%= form.label "password", rodauth.password_label, class: "form__label" %>
      <p style="margin-top:-7px">Il doit contenir au moins 6 caractères</p>
      <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
    </div>

    <% if rodauth.require_password_confirmation? %>
      <div class="form__group mb-3">
        <%= form.label "password-confirm", rodauth.password_confirm_label, class: "form__label" %>
        <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "form__input #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
      </div>
    <% end %>

    <div class="form__group mb-3">
      <%= form.check_box :terms_of_service, value: params[:terms_of_service], id: "terms_of_service", required: true, class: "form-control" %>
      <%= form.label :terms_of_service, "Cocher pour accepter nos Conditions générales d'utilisation et notre Politique de confidentialité.", style:"user-select:none",class: "" %>
    </div>
  <% end %>

  <div class="form__group btn__layout mb-3">
    <%= form.submit rodauth.create_account_button, class: "btn btn--primary" %>
  </div>
  <div style="height:5rem"></div>
<% end %>
