<header class="navbar">
  <div class="navbar__brand">
    <%= link_to "Kandapedia", root_path, class:"--font-size-3xl navbar__name_title" %>
  </div>
  <% if rodauth.logged_in? %>
    <div class="navbar__name" style="display:flex; align-items:center; justify-content:end">
      <div style=" display:flex; align-items:center;  justify-content: center;">
        <%
        if @profile != nil && current_account.id == @profile.account_id
          user = @profile
        else
          user = current_account.profile
        end
        %>
        <% if user.avatar.attached? %>
          <div style="margin-right:4px; height:27px; width:27px; border-radius:100%; display:flex; align-items:center;  justify-content: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;border: 2px solid <%= user.color %>">
            <%= image_tag(user.avatar_profile, style: "object-fit: cover; object-position: center;width:100%; height:100%; border: 2px solid transparent; border-radius:100%", size:"27px") %>
          </div>
        <% else %>
          <div style="background-color:<%= user.color %>; height:25px; width:25px; border-radius:100%; display:flex; align-items:center;  justify-content: center;margin-right:5px">
            <p style="text-align:center; font-weight:800; color:black; margin:auto; font-size:.7rem; letter-spacing:-1px">
              <%= user.get_initial_profile %>
            </p>
          </div>
        <% end %>
      </div>
      <%= link_to user.lastname != nil ? user.lastname.capitalize : user.username.capitalize , profile_url(user), class: "navbar__profile_link" %>   
    </div>
    <%= button_to "Deconnexion",
                  rodauth.logout_path,
                  data: { turbo_method: :question},
                  class: "btn btn--dark navbar__right" %>
    <div style="width:7px"></div>

    <%= link_to rodauth.two_factor_manage_path do %>
      <div style="margin:5px;"><svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M2 7v2h4v2H4a2 2 0 0 0-2 2v4h6v-2H4v-2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H2m7 0v10h2v-4h3v-2h-3V9h4V7H9m9 0a2 2 0 0 0-2 2v8h2v-3h2v3h2V9a2 2 0 0 0-2-2h-2m0 2h2v3h-2V9Z"/></svg></div>
    <% end %>

  <% else %>
    <%= link_to "S'inscrire",
                  rodauth.create_account_path,
                  class: "btn btn--dark navbar__right" %>
    
    <div style="width:7px"></div>
    
    <%= link_to "Connexion",
                  rodauth.login_path,
                  class: "btn btn--dark" %>
  <% end %>
</header>