<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? "Kandapedia - #{@page_title}" : "Kandapedia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div style="width:100%; height:70px"></div>

    <%
=begin%>
 <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %> 
<%
=end%>
    <%= yield %>

    <ninja-keys data-controller="command-palette" placeholder="<%= t("command_palette.placeholder") %>"></ninja-keys>
  </body>
</html>
